.adminContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../assets/pictures/fondo.jpg');

}
.spaceUnderH1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6em;
} 

.homeAdminBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.homeAdminForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    width: 30em;
}
.dataContainer {
    margin-left: 6em;
    width: 30%;
    background-color: rgb(162,134,113,255);

}

.column {
    background-color: rgb(162,134,113,255);
}