.imgAccsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}

.accesoriesContainer {
    width: 100%;    
    height: 100%;
    background-size: cover;
    background-image: url('../../../assets/pictures/fondo.jpg');

}