.spaceUnderNav {
    width: 100%;
    height: 4em;
}

.imgBoyContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5em;
}

.boyContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../../assets/pictures/fondo.jpg');

}

.boyPic {
    width: 20em;
    height: 25em;
}

.imgBoy {
    width: 15em;
    height: 20em;
}

.productsData {
    cursor: pointer;
}

.card {
    width: 18rem;
}

.insideCart {
    display: flex;
    flex-direction: column;
    border: grey solid 1px;
    border-radius: 8px;
    background-color: rgb(220, 219, 215);
}