.homeContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../assets/pictures/fondo.jpg');

}

.imgDiv {
    width: 70%;
    height: 30%;
}
@media screen and ( max-width: 40% ) {
    .imgMovie { width: 25%;
    }
}
.container-fluid {
    display: flex;
    margin-left: .5em;
}
.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 219, 215);
}


/* @media screen and ( max-width: 40% ) {
    .header { width: 25%;
        font-size: 3vmin;
    }
} */
@media screen and ( max-width: 40% ) {
    .homeContainer { width: 25%;
        font-size: 3vmin;
    }
}

.imgSize {
    width: 80%;
    height: 40em;
}

.spaceUnderCaroulse {
    height: 3em;
}
 
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard {
    height: 15em;
}
