
.imgMovie {
    width: 70%;
    height: 30%;
}
@media screen and ( max-width: 40% ) {
    .imgMovie { width: 25%;
    }
}
.container-fluid {
    display: flex;
    margin-left: .5em;
}
.imageDiv {
    background-color: rgb(220, 219, 215);
}


@media screen and ( max-width: 40% ) {
    .header { width: 25%;
        font-size: 3vmin;
    }
}

a {
    margin-left: 2em;
    text-decoration: none;
    color: rgb(0, 12, 12);
    font-size: 1vmax;
    border-radius: 10px;
}

li a {
    font-size: 1vmax;
}

.dropdownButton {
    font-size: 1vmax;
    margin-left: 2em;
    border-radius: 10px;
}

.logoName  {
    font-size: 2vw;
}

.dropdown-menu {
    background: none;
}