
.imgMovie {
    width: 100em;
    height: 40em;
}
@media screen and ( max-width: 500px ) {
    .imgMovie { width: 450px;
    }
}
.container-fluid {
    display: flex;
    margin-left: .5em;
}
.imageDiv {
    background-color: rgb(220, 219, 215);
}
.login {
    margin-left: 1em;
}
.registro {
    margin-left: 1em;
}