.headerNavbar {
    display: flex;
    width: 100vmax;
    background-color: grey;
    height: 4em;
}
.customerName {
    width: 14em;
}

.logOut {
    cursor: pointer;
}

.container-fluid {
    width: 100vmax;
}
